################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReflectionExample/.vs/ReflectionExample/v16
